
    
    
<div class="error-message">
<% if @error_message %>
<%= @error_message %>
<% end %>
</div>


<div class="flash-message">
<% if flash[:notice] %>
<%= flash[:notice] %>  
<% end %>
</div>

<div class= "login-form-all">
<br><div class="login-form">
<%= form_tag("/login")do %>
<p>メールアドレス</p>
<input name="email" value="<%= @email %>">
<p>パスワード</p>
<input type="password" name="password" value="<%= @password %>">
<br><input type="submit" value="ログイン">
</div>
<% end %>

</div>