<div class="show-flash-message">
<% if @search_result_message %>
<%= @search_result_message %>
<% end %>
</div>


<div class="search-page">

<h1>つぶやきを検索する</h1>
<h3>検索した文字と一致したつぶやきを表示します</h3>

<div class="search-form">
<%= form_tag("/users/search") do %>
<textarea name="content" placeholder="検索したい内容を入力してください"></textarea>
<br><input type="submit" value="検索">
<% end %>
</div>
<% @posts.each do|post| %>
<% @user=User.find_by(id: post.user_id) %>

<br><div class="posts-index">
    <img src="<%= "/user_images/#{post.user.image_name}" %>" class="post-user-image">
 
    <%= link_to(post.user.name,"/users/#{post.user.id}",{class: "post-user-name"}) %>
    <%= post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %>
    <br><%= link_to(post.content,"/posts/#{post.id}",{class: "post-content"}) %>
   
   <% if Like.find_by(user_id: @current_user.id,post_id:post.id) %>
 <%= link_to("/likes/#{post.id}/destroy", {method: "post"}) do %>
 <span class="fa fa-heart like-btn-unlike">
 <% end %>
 <% else %>
 <%= link_to("/likes/#{post.id}/create",{method: "post"}) do %>
 <span class="fa fa-heart like-btn">
 <% end %>
 <% end %>
 <% @like_count=Like.where(post_id: post.id).count %>
 <%= @like_count %>
</div>
    <% end %>



</div>