<div class="flash-message">
    <%= flash[:notice]%>
</div>

<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |message| %>
<div class="error-message">
    <ul>
    <li><%= message %></li>
    </ul>
</div>
<% end %>
<% end %>


<%= form_tag("/users/create")do %>
<br>
<div class="signup-box">
<div class="signup-form">
<br><p>ユーザー名</p>
<input name="name" value="<%= @user.name%>">

<p>メールアドレス</p>
<input name="email" value="<%= @user.email %>">    

<p>パスワード</p>
<input type="password" name="password" value="<%= @user.password%>">
<br>
<br><input class="btn btn-primary" type="submit" value="登録">
</div>
</div>
<% end %>
